body {
    a {
        color: $main-color;
    }

    .favorite-marke {
        display: inline-block;
        margin-left: 10px;

        a {
            text-decoration: none;
            color: rgb(138, 138, 138);
        }

        i {
            color: #b5b5b5;
        }
    }

    .loved {
        i {
            color: red !important;
        }
    }

    .reply-marke {
        i {
            color: #b5b5b5;
        }
    }

    .reply-marke {
        display: inline-block;
        margin-left: 10px;
    }

    .js-modal-open-heart {
        text-decoration: none;
        color: rgb(138, 138, 138);
    }

    .navbar {
        .nav-link {
            color: #fff !important;
        }
    }

    .category {
        color: $gray-color;
    }
}
