.top-post-wrapper {
    background-color: white;
    margin: 10px 0;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;

    #top-post-title {
        padding: 5px 10px 0 10px;
        font-size: 20px;
    }

    #top-post-category {
        font-size: 12px;
        margin: 10px 0 0 0;
        padding: 0 10px;
    }

    #top-post-content {
        font-size: 14px;
        margin: 5px 0 10px 0;
        padding: 0 10px;
    }

    #top-post-user {
        display: inline-block;
        padding: 0 10px
    }

    #top-post-date {
        padding: 0 10px 0 0;
        color: #ababab;
        float: right;
    }
}
