.user-index-wrapper {
    background-color: white;
    margin-bottom: 10px;

    .user-index-one-wrapper {
        border-bottom: 1px solid $border;
        display: flex;
        align-items: center;
        position: relative;

        .user-index-left {
            vertical-align: middle;

            a {

                .top-post-img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;

                }

                &:hover+.top-profile-hover {
                    /*画像をホバーしている間は表示するようにします*/
                    display: inline-block;

                }
            }

            // ホバーされている時に表示するボックス
            .top-profile-hover {
                display: none;
                /*アニメーションを指定します*/
                animation-duration: 0.5s;
                animation-name: showballoon;
                width: 400px;
                position: absolute;
                top: 50px;
                left: 0px;
                z-index: 9999;
                /*表示スタイルを指定します*/
                padding: 5px;
                border-radius: 5px;
                color: $gray-color;
                background-color: #fff;
                /*影をつけて見栄えを良くします*/
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
                    inset 0 1px 0 rgba(255, 255, 255, 0.8),
                    inset 1px 0 0 rgba(255, 255, 255, 0.3),
                    inset -1px 0 0 rgba(255, 255, 255, 0.3),
                    inset 0 -1px 0 rgba(255, 255, 255, 0.2);

                &:hover {
                    /*プロフィールboxをホバーしている間は表示するようにします*/
                    display: inline-block;
                }

                @keyframes showballoon {

                    /*アニメーションを定義します*/
                    0% {
                        opacity: 0;
                        top: 30px;
                    }

                    100% {
                        /*表示するようにします*/
                        opacity: 1;
                        top: 50px;
                    }
                }

                .top-post-img {
                    display: inline-block;
                }

                .top-post-user {
                    display: inline-block;
                }

                .top-post-user-introduction {
                    padding: 5px;
                }
            }

        }

        .user-index-right {
            padding: 10px 5px;

            p {
                margin: 0;
            }

            .user-name {
                padding: 0;
                margin: 0;
                font-size: 18px;
            }

            .user-introduction {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
        }
    }
}
